.parent{
  height: 80vh;
  width: 40%;
  background-color: green;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  align-items: center;
  border-radius: 20%;
}